# Ignore virtual environments
venv/
.env/

# Ignore logs and databases
logs/*.db
logs/*.jsonl
results/*.csv
*.db-journal


# Ignore cache and temp files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db
